<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
<style>
    .owl-nav button {
        position: absolute;
        top: 50%;
        background-color: #000;
        color: #fff;
        margin: 0;
        transition: all 0.3s ease-in-out;
    }

    .owl-nav button.owl-prev {
        left: 0;
    }

    .owl-nav button.owl-next {
        right: 0;
    }

    .owl-dots {
        text-align: center;
        padding-top: 15px;
    }

    .owl-dots button.owl-dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        background: #ccc;
        margin: 0 3px;
    }

    .owl-dots button.owl-dot.active {
        background-color: #000;
    }

    .owl-dots button.owl-dot:focus {
        outline: none;
    }

    .owl-nav button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.38) !important;
    }

    span {
        position: relative;
        top: -5px;
    }

    .owl-nav button:focus {
        outline: none;
    }
</style>

<div class="owl-slider">
    <div id="carousel" class="owl-carousel">
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="item">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 l4 m12 center">
                        <img src="https://picsum.photos/300/300" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s12">
                        <span class="black-text">
                            This is a square image. Add the "circle" class to it to make it appear circular.
                        </span>
                    </div>

                </div>
                <div class="row right">
                    - Ghandi ji
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    jQuery("#carousel").owlCarousel({
        autoplay: true,
        rewind: true,
        /* use rewind if you don't want loop */
        margin: 20,
        /*
  animateOut: 'fadeOut',
  animateIn: 'fadeIn',
  */
        responsiveClass: true,
        autoHeight: true,
        autoplayTimeout: 7000,
        smartSpeed: 800,
        nav: true,
        responsive: {
            0: {
                items: 1
            },

            600: {
                items: 1
            },
            800: {
                items: 2
            },

            1024: {
                items: 3
            },

            1366: {
                items: 3
            }
        }
    });
</script>