<link rel="stylesheet" href="/stylesheets/slider.css">
<div class="simple-carousel">
    <a href="javascript:void(0);" class="control_next"><i class="fa fa-chevron-right"></i></a>
    <a href="javascript:void(0);" class="control_prev"><i class="fa fa-chevron-left"></i></a>
    <ul>
      <li class="slide" style="background-image: url('https://media.istockphoto.com/photos/two-construction-workers-engineers-on-construction-site-agreeing-upon-picture-id658266556');"></li>
      <li class="slide" style="background-image: url('https://media.istockphoto.com/photos/multi-ethic-workers-talking-at-construction-site-reviewing-plans-picture-id1179153745');"></li>
      <li class="slide" style="background-image: url('https://media.istockphoto.com/photos/white-picture-id851107492');"></li>
    </ul>
  </div>
  
  <script>
      $(document).ready(function () {
  simpleCarousel($(".simple-carousel"), 5000);
});

function simpleCarousel(carousel, intervalTime = 5000) {
  var slideCount = $(carousel).find("ul li.slide").length;
  var activeSlide = 0;

  function showSlide() {
    $(carousel)
      .find("ul li.slide")
      .each(function (index) {
        if (index == activeSlide) {
          $(this).fadeIn();
        } else {
          $(this).fadeOut();
        }
      });
  }

  setInterval(function () {
    moveRight();
  }, intervalTime);

  function moveLeft() {
    activeSlide -= 1;
    if (activeSlide < 0) {
      activeSlide = slideCount - 1;
    }
    showSlide();
  }

  function moveRight() {
    activeSlide += 1;
    if (activeSlide >= slideCount) {
      activeSlide = 0;
    }
    showSlide();
  }

  $(carousel)
    .find("a.control_prev")
    .click(function () {
      moveLeft();
    });

  $(carousel)
    .find("a.control_next")
    .click(function () {
      moveRight();
    });
}

  </script>